#(project
  (#(meta
     (#(name lcfg)
      #(description "An LFE library for managing and using lfe.config files")
      #(version "0.5.0-rc2")
      #(keywords ("LFE" "Lisp" "Library" "Configuration" "Utility"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/lcfg")))))
   #(app
     (#(mod #(lcfg ()))))
   ;; Hex.pm metadata
   #(hexpm
     (#(pkg_name lcfg)
      #(maintainers ("Duncan McGreggor"))
      #(licenses ("Apache-3"))
      #(links (#("Github" "https://github.com/lfex/lcfg")
               #("Gitlab" "https://gitlab.com/lfex/lcfg")
               #("Hex" "https://hex.pm/packages/lcfg")))))))
