#(project (#(meta (#(keywords ("LFE" "Lisp" "Library" "Configuration"
                               "Utility"))
                   #(maintainers (
                     (#(name "Duncan McGreggor") #(email "duncan@lfe.io"))))
                   #(repos (
                     #(github "lfex/lcfg")))))))
