#(project (#(meta (#(name cool-thing)
                   #(description "Cool Thing!")
                   #(version "4.2.0")
                   #(id "kl-prj-xk-4")
                   #(keywords ("LFE", "Library", "API"))
                   #(maintainers (
                     (#(name "Alice") #(email "ali@ce.com"))
                     (#(name "Bob") #(email "bo@b.com"))))
                   #(repos (
                     #(github "cool/thing")
                     #(myhost "darcs://myhost.com/cool/thing-dev")))))
           #(app (#(max-t 1000)
                  #(registered (my-reged-proc-1 proc-2))
                  #(modules (kt kt-app kt-sup kt-util))
                  #(included-applications ())
                  #(applications (lager))
                  #(env ())
                  #(mod $(start-mod (arg-1 arg-2)))
                  #(start-phases (#(phs1 (arg-1 arg-2))
                                  #(phs2 (arg))))))))
                                  #
#(cfg-data (#(some (#(thing "else")
                    #(or "other")
                    #(can "be")
                    #(configured "here")))))

`#(opt-1 (,(lutil:get-lfe-version)))

`#(opt-2 (#(data-from-config ,(lcfg:get-in 'local '(cfg-data some can)))))

#(logging (
   #(log-level info)
   #(backend lager)
   #(options (#(lager_console_backend debug)
              #(lager_file_backend (
                #(file "log/error.log")
                #(level error)
                #(size 10485760)
                #(date "$D0")
                #(count 5)))
              #(lager_file_backend (
                #(file "log/console.log")
                #(level info)
                #(size 10485760)
                #(date "$D0")
                #(count 5)))))))
