#(project
  (#(meta
    (#(name myproj)
     #(description "A a very cool LFE OTP project.")
     #(version "0.0.1")
     #(keywords ("LFE" "Lisp" "OTP" "Application" "Utility"))
     #(maintainers
      ((#(name "Alice Roberts") #(email "alice@bob.com"))))
     #(repos
       (#(github "lfex/coolproj")))))
   #(deps
     (#("rvirding/lfe" "master")
      #("lfex/lcfg" "master")))))

;;; See the following URL for details and comments on each configuration
;;; option:
;;;   https://github.com/erlware/relx/blob/master/examples/relx.config
;;;
#(relx
  (#(paths ("/opt/erlang_apps"))
   #(vm_args "./config/vm.args")
   #(sys_config "./config/sys.config")
   #(include_erts true)
   #(extended_start_script true)
   #(default_release sexpr "0.0.2")
   #(release
     #(sexpr "0.0.1")
     (sexpr "erlware_commons>=0.8.1" #(neotoma load)))
   #(overrides (#(sexpr "../sexpr")))))