#(project
  (#(meta
     (#(name lcfg)
      #(description "A library for managing and using lfe.config files.")
      #(version "0.0.3")
      #(keywords ("LFE" "Lisp" "Library" "Configuration" "Utility"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/lcfg")))))
   #(app
     ;; XXX this next needs to be done automaically -- check on that
     (#(modules (lcfg lcfg-appsrc lcfg-const lcfg-deps lcfg-file lcfg-log lcfg-proj lcfg-relx lcfg-util))))
   #(deps (#("rvirding/lfe" "master")))))

#(relx
  (#(release #(lcfg "0.0.2") ())
   #(extended_start_script true)))
