#(project (#(meta (#(keywords ("LFE", "Library", "API"))
                   #(maintainers (
                     (#(name "Alice") #(email "ali@ce.com"))
                     (#(name "Bob") #(email "bo@b.com"))))
                   #(repos (
                     #(github "https://github.com/cool/thing")
                     #(myhost "darcs://myhost.com/cool/thing-dev")))))
           #(deps (#("rvirding/lfe" "develop")
                   #("lfex/lutil" "master")
                   "dysinger/lfesl"
                   "lfex/ltest"))))
#(cfg-data (#(some (#(thing "else")
                    #(or "other")
                    #(can "be")
                    #(configured "here")))))
`#(opt-1 (,(lutil:get-lfe-version)))
`#(opt-2 (#(data-from-config ,(lcfg:get-in 'local '(cfg-data some can)))))
#(logging (
   #(log-level info)
   #(backend lager)
   #(options (#(lager_console_backend debug)
              #(lager_file_backend (
                #(file "log/error.log")
                #(level error)
                #(size 10485760)
                #(date "$D0")
                #(count 5)))
              #(lager_file_backend (
                #(file "log/console.log")
                #(level info)
                #(size 10485760)
                #(date "$D0")
                #(count 5)))))))
