{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, ['src/lcfg-const.lfe', 'src/lcfg-file.lfe', 'src/lcfg.lfe']}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.
{deps, [
    {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.10.0"}}},
    {lutil, ".*", {git, "git://github.com/lfex/lutil.git", {tag, "0.6.7"}}},
    {clj, ".*", {git, "git://github.com/lfex/clj.git", {tag, "0.2.2"}}},
    {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.4"}}}
  ]}.
