{lfe_first_files, ["src/lcfg-const.lfe",
                   "src/lcfg-file.lfe",
                   "src/lcfg.lfe"]}.

{deps, [
   {lfe, {git, "https://github.com/lfe/lfe", {branch, "bleeding-edge"}}},
   {lutil, {git, "https://github.com/lfex/lutil", {branch, "master"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {branch, "master"}}}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
   %% As an alternative to the default Github repos, you can use the Gitlab
   %% mirror with the following:
   %%   $ rebar3 as gitlab compile
   {gitlab, [
     {deps, [
        {lfe, {git, "https://gitlab.com/lfe/lfe.git", {tag, "v1.2.0"}}},
        {lutil, {git, "https://gitlab.com/lfex/lutil", {tag, "0.10.0-rc3"}}}
      ]},
     {plugins, [
         {'lfe-compile', {git, "https://gitlab.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc2"}}}]}
      ]},
   %% Or use Hex.pm instead with:
   %%   $ rebar3 as hexpm compile
   {hexpm, [
     {deps, [{lfe, "1.2.0"},
             {lutil, "0.10.0-rc3"}]},
     {plugins, [{rebar3_lfe_compile, "0.8.0-rc2"}]}
      ]},
   {dev, [
     {deps, [
       {lfe, {git, "https://github.com/lfe/lfe", {branch, "bleeding-edge"}}},
       {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {branch, "master"}}}]},
     {plugins, [
       {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {branch, "master"}}}]}
     ]},
   {test, [
     {deps, [
       {ltest, {git, "https://github.com/lfex/ltest.git", {branch, "master"}}},
       {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {branch, "master"}}}]},
     {plugins, [
       {'lfe-test', {git, "https://github.com/lfe-rebar3/test.git", {branch, "master"}}}]},
     {eunit_opts, [verbose]},
     {erl_opts, [{src_dirs, ["src", "test"]}]}
    ]}
  ]}.
